html,body{
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-header{
    margin-left:5% !important;
}

.navContainer{
    width: 90%;
}

#home{
    margin-top: 4.4% !important;
}

#logo{
    margin-top: 3%;
    width: 150px;
    height: 42px;
}

#video{
    width:100%;
    height: 400px;
}

#headerVideo{
    padding-top: 5.8%;
}

#navBar{
    background-color: white !important;
    color: black !important;
    width: 100%;
    -webkit-box-shadow: -1px 10px 27px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 27px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 27px -6px rgba(0,0,0,0.75);
}

#navBar a{
    color:black !important;
    font-size: 100% !important;
}

#navBar a:hover{
    color: #761c19 !important;
}

#btnNavbar{
    background-color: gainsboro !important;    
}

.titulosServ{
    color: whitesmoke !important ;
    font-family: 'Alegreya', serif !important;
}

#divDesc{
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: gainsboro !important;     
    color:black;
}

#divContenedorGaleria{
    padding-bottom: 10%;
    -webkit-box-shadow: 0px 10px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 17px -4px rgba(0,0,0,0.75);
}

#portfolio1{
    background-color: gainsboro !important;  
}

#servicios{
    padding-top:5%;
    background-color:gainsboro !important; 
    padding-bottom: 5%;
}

.rowParallax{
    padding-bottom: 10%;   

}

#servicios{
    padding-bottom: 2%;    
}

#descripcion{
    text-align: justify;
}

.divCanvas{
    margin-top:1%;
    width: 10px;
    height: 270px; 
    float:left;    
}

.colorAxioma{
    /*background-color: #761c19 !important;*/
}

#canvasSep{
    margin-top: 13%;    
}

#proyectos{
    text-align: justify !important;
    padding-top: 5%;
}

#direccion{
    padding-top: 5%;
}

#tituloServ{
    color: whitesmoke !important ;
    font-family: 'Kaushan Script', cursive !important;
}

#tServ{
    color: whitesmoke;
}

.fotoWidth{
    width: 290px !important;
    height: 190px !important;
}

p{
    font-size: 115% !important;
}

#divGaleria{
    width: 77%;
    margin:0 auto;
}

.serviceFont{
    color:white !important;
}

#map-canvas-holder{
    height: 400px;
}

.animated{
    /*animation-duration*/
    -webkit-animation-duration:1000ms;
    -moz-animation-duration:1000ms;
    -ms-animation-duration:1000ms;
    -o-animation-duration:1000ms;
    animation-duration:1000ms;
}

.texto-parallax{
    display:table-cell;
    position:relative;
    vertical-align:middle;  
    text-align:center;
    color:#fff;
    font-size:16px;
    z-index:99;
}

.home-parallax, .parallax-bg{
    background:url(../images/fotosNuevas/camioneta.jpg) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}
.home-parallax, .parallax-bg{
    height:200px;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.home-overlay, .parallax-overlay{
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    width:100%;
    content:"";
}

.section-parallax, .parallax-bg{
    background:url(../images/fotosNuevas/DSCF4149.JPG ) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}

.section-parallax, .parallax-bg{
    height:200px;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.section-overlay, .parallax-overlay{
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    width:100%;
    content:"";
}

#contact{
    -webkit-box-shadow: -1px -4px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -4px 20px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -4px 20px 0px rgba(0,0,0,0.75);
}


/*------------------------------------*/
/*        MISION Y VISION            */
/*----------------------------------*/

#mision{
    background: url(../images/bannerVeritas.jpg) no-repeat right center;
    /*background-size*/
    /*    -webkit-background-size:@@prefixmycss->No equivalent;
        -moz-background-size:cover;
        -o-background-size:@@prefixmycss->No equivalent;
        background-size:cover;*/
    text-align: justify;
}  


section{
    position:relative;
}

section.section-padding{
    padding:70px 0;
}

.section-bg{

    background-color: #fff;
    opacity:.6;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.section-item{
    color:#OOO;
    font-size:13px;
    line-height:22px;
    margin-bottom:25px;
    margin-top:15px;
    padding-left:60px;
    position:relative;
}

.section-item i{
    font-size:30px;
    left:0;
    position:absolute;
    top:-5px;
}

.section-item h2{
    font-family:open sans;
    font-size:18px;
    font-weight:300;
    margin:0 0 15px;
    text-transform:uppercase;
}

.section-item p{
    color:#000;
}



/*---------------------------------------------*/
/*                    CLIENTES                */
/*-------------------------------------------*/
#clientes{
    text-align: justify;
}

.imagenLogo{
    width: 100px;
    height: 100px;
}

#listaClientes{
    padding-top: 2%;
    text-align: center;
}

#listaClientes li{
    display: inline-block;
    padding:1%;
}

.areas-parallax{

}

/*-------------------------------------------*/
/*                 INTRANET                 */
/*-----------------------------------------*/

#divAplicaciones{

    padding-top: 2%;
    padding-bottom: 8%;
    background-color: lightgray;   
}

.imgSize{
    width: 100%;
    height:262px;
}


#bannerTux{
    margin-top: 5.8%;    
    height: 400px;
    width: 100%;
}

@media(max-width: 480px){
    #bannerTux{
        margin-top: 18%;    
        height: 200px;
        width: 352.5px;
    }

    #divAplicaciones{
        width: 368px;
        padding-top: 2%;
        padding-bottom: 8%;
        background-color: lightgray;   
    }

}

.banner{
    width: 100%;
    height: 500px !important;
}

.bannerHome{
    width: 100%;
    height: 600px !important;
}
/*------------------------------------------*/
/*             CONCESIONES                 */
/*----------------------------------------*/
#headerAreas{
    margin-top: 5.8%;
}

#banner{
    width: 100%;
}

#canvasConcesiones{
    margin-top:1%;
    width: 10px;
    height: 565px; 
    float:left;  
}

#concecionesParall{
    background:url(../images/conceciones.jpg) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    /*    -moz-background-size:cover;*/
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}



.concesiones-parallax, .parallax-bg{
    background:url(../images/banner3.jpg) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}

.concesiones-parallax, .parallax-bg{
    height:415px;
    left:0;
    position:absolute;
    top:0;
    width:99%;
}

.concesiones-overlay, .parallax-overlay{
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    width:99%;
    content:"";
}

.call_to_action{
    padding:116px 0;
}

.call_to_action p{
    color:white;
}


.page-title{
    color:white;
    font-family:open sans;
    font-size:28px;
    font-weight:300;
    letter-spacing:2px;
    line-height:35px;
    margin-bottom:20px;
    text-transform:uppercase;
    text-align: center;
}

#listaConcesiones li{
    color:white;
    font-size:120%;
    list-style-type:square;
    padding: 1%;
}

#divInfoConcesiones{
    height: 1150px;
}


@media (max-width: 480px) {

    #headerAreas{
        margin-top: 17%;
    }

    #canvasConcesiones{
        margin-top: 3%;
        height: 1570px;
    }    

    #divInfoConcesiones{
        padding-top: 2%;
        height: 2400px;
    }

    .concesiones-parallax, .parallax-bg{
        height:640px;
        left:0;
        position:absolute;
        top:0;
        width:320px;
    }
}

/*------------------------------------------*/
/*             CONSTRUCCION                */
/*----------------------------------------*/

#headerConstrucion{
    margin-top:5.8%;
}

#canvasConstruccion{
    margin-top:1%;
    width: 10px;
    height: 365px; 
    float:left;  
}

#divInfoConstruccion{
    height: 1400px;
}


.construccion-parallax, .parallax-bg{
    background:url(../images/fotosNuevas/DSCF4149.JPG ) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}

.construccion-parallax, .parallax-bg{
    height:900px;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.construccion-overlay, .parallax-overlay{
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    width:100%;
    content:"";
}

.call_to_action{
    padding:80px 0;
}

.call_to_action p{
    color:white;
}


/*------------------------------------------*/
/*                ESTUDIOS                 */
/*----------------------------------------*/


#headerEstudios{
    padding-top:5.8%;    
}

#canvasEstudio{
    margin-top:1%;
    width: 10px;
    height: 130px; 
    float:left; 
}

#divInfoEstudio{
    height: 1140px;
}

#estudioParall{
    background:url(../images/conceciones.jpg) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    /*    -moz-background-size:cover;*/
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}

.estudio-parallax, .parallax-bg{
    background:url(../images/fotosNuevas/DSCF4167.JPG) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
}

.estudio-parallax, .parallax-bg{
    height:880px;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.estudio-overlay, .parallax-overlay{
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    width:100%;
    content:"";
}


/*----------------------------*/
/*   VideoTeledeteccion      */
/*--------------------------*/
#imgInforme{
    width: 50%;
    margin-left: 20%;
}

#fila2{
    margin-top: 2%;
}

.linkRutas img:hover{
    border:10px solid #761c19;
}

#footerVideo{
    margin-top: 15%;
}

#divInfoVideo{
    padding-bottom: 10% !important;
}


/*---------------------------*/
/*          Modales         */
/*-------------------------*/
.posicionModal{
    margin-bottom: 20% !important;
}

.colorAxiomaBG{
    background-color: #761c19;
}

.blanco{
    color: white !important;
}













/*----------------------------*/
/*      Media Querys          */
/*----------------------------*/



/*---------------------------*/
/*        index            */
/*-------------------------*/
@media (max-width: 480px) {
    #logo{
        width: 50%;
    }

    #home{
        padding-top:55% !important;
    }

    #servicios{
        margin-top:50% !important;
    }

    #direccion{
        margin-top:50% !important;
    }
    .parallaxIndex{
        display: none !important;
    }

    .divCanvas{
        display: none !important;
    }

    #divGaleria{        
        margin-left: 0% !important;
        text-align: left !important;
    }

    .fotoWidth{
        width: 20% !important;
    }
}


@media (max-width: 500px) {

    #home{
        margin-top:35% !important;

    }

    #servicios{
        margin-top:50% !important;
    }

    #direccion{
        margin-top:50% !important;
    }

    .parallaxIndex{
        display: none !important;
    }

    .celText{
        text-align: right !important;
    }

    #separadorGaleria{
        display:none !important;
    }

    #map-canvas-holder{
        height: 200px !important;
    }

}




@media (max-width: 768px) {

    #espacio{              
        padding-top: 4%;
    }

    #home{
        margin-top:25% !important;
    }


    #servicios{
        padding-top:15% !important;
    }

    #direccion{
        margin-top:50% !important;
    }

    #contact{
        padding-top:10% !important;
    }

    #divGaleria{        
        width: 50%;

        padding-left: 10% !important;
    }
}


@media (max-width: 1000px) {  

    #espacio{      
        padding-top: 3% !important;        
    }

    #servicios{
        padding-top:18% !important;
        border:2px solid red;
    }

    #direccion{
        margin-top:10% !important;
    }
    /*    
        #contact{
             margin-top:5% !important;
        }*/

    #divGaleria{
        width: 50%;
        margin-left: 30% !important;
    }

    .imgService{
        width: 100%;
    }
}


@media (max-width: 1024px) {  

    #espacio{      
        margin-top: 5% !important;
    }

    #servicios{
        margin-top:15% !important;
    }

    #direccion{
        margin-top:10% !important;
    }
    /*    
        #contact{
             margin-top:5% !important;
        }*/

    #divGaleria{
        width: 50%;
        margin-left: 30% !important;
    }

    .imgService{
        width: 100%;
    }
}

@media (max-width: 1280px) {
    #home{
        margin-top:10% !important;
    }


    #servicios{
        margin-top:5% !important;
    }

    #direccion{
        margin-top:2% !important;
    }
    /*    
        #contact{
             margin-top:5% !important;
        }*/

    #divGaleria{
        width: 60%;
        margin-left:20% !important;
    }

    .imgService{
        width: 100%;
    }


}

/*------------------------------ */
/*         Conceciones           */
/*------------------------------ */

@media (max-width: 480px) {

    #concecionesParall{
        display:none !important;
    }

    #divDescConcecion{
        background-image: url("../images/conceciones.jpg");
        background-size: 100%;
        background-attachment:fixed;     

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }
}

@media (max-width: 768px) {

    #divDescConcecion{
        background-image: url("../images/conceciones.jpg");
        background-size: 100%;
        background-attachment:fixed;    

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }

    #headerAreas{
        margin-top: 23%;
    }

    #concecionesParallax{
        display: none;
    }

    #contact{
        margin-bottom: 0%;
    }

}

@media (max-width: 800px) {

    #headerAreas{
        margin-top: 23% !important;
    }

    .concesiones-parallax{
        height: 430px;
    }
}


@media (max-width: 980px) {

    #headerAreas{
        margin-top: 15%;
    }

    .concesiones-parallax{
        height: 430px;
    }
}



/*-----------------------------*/
/*      Construccion          */
/*---------------------------*/
@media (max-width: 360px) {
    #divDescConstruccion{

        background-image: url("../images/construccion.jpg");
        background-size: 100%;
        background-attachment:fixed;    

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }
}

@media (max-width: 768px) {

    #divDescConstruccion{

        background-image: url("../images/construccion.jpg");
        background-size: 100%;
        background-attachment:fixed;    

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }

    #headerConstrucion{
        padding-top: 8% !important;        
    }

    #construccion{
        padding-top: 4% !important;       
    }

    #canvasConstruccion{
        display:none !important;
    }

    #contruccionParallax{
        display: none;
    }
}


@media (max-width: 800px) {

    #divDescConstruccion{
        background-image: url("../images/construccion.jpg");
        background-size: 100%;
        background-attachment:fixed;    

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }

    #headerConstrucion{
        padding-top: 7% !important;   
    }

    #construccion{
        padding-top: 4% !important;       
    }

    #canvasConstruccion{
        display:none !important;
    }

    #contruccionParallax{
        display: none;
    }
}


@media (max-width: 980px) {

    #divDescConstruccion{

        background-image: url("../images/construccion.jpg");
        background-size: 100%;
        background-attachment:fixed;    

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }

    #headerConstrucion{
        margin-top:15% !important;
    }

    #construccion{
        padding-top: 4% !important;       
    }

    #canvasConstruccion{
        display:none !important;
    }

    #contruccionParallax{
        display: none;
    }
}

@media (max-width: 1280px) {


    #headerConstrucion{
        margin-top:8%;
    }

    #construccion{
        padding-top: 4% !important;       
    }   

    .construccion-parallax{
        height: 900px;
    }

}

/*------------------------------------------*/
/*                ESTUDIOS                 */
/*----------------------------------------*/

@media (max-width: 360px) {

    #headerEstudios{
        padding-top:13%;    
    }

    #divDescEstudio{

        background-image: url("../images/tux-banner-1038x200.jpg") !important;
        background-size: 100%;
        background-attachment:fixed;    

        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }

    #estudioPara{
        height: 1600px;
    }   

}

@media (max-width: 768px) {
    #headerEstudios{
        padding-top:19%;    
    }

}

@media (max-width: 800px) {
    #headerEstudios{
        padding-top:19%;    
    }

}

@media (max-width: 980px) {
    #headerEstudios{
        padding-top:13%;    
    }

}



/*-------------------------------------------*/
/*                 INTRANET                 */
/*-----------------------------------------*/

@media (max-width: 768px) {
    #headerTux{
        padding-top:6%;    
    }

}


@media (max-width: 800px) {
    #headerTux{
        padding-top:5%;    
    }

}


@media (max-width: 980px) {
    #headerTux{
        padding-top:3%;    
    }

}